<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>Mystery Word - Home</title>
</head>

<body>
  <div class="display">
    <h1>MYST-RY W-RD</h1>
    {{^user}}
    <form class="loginForm" action="/newgame/login" method="post">
        <input class="loginInput" type="text" name="username" placeholder="ENTER YOUR NAME">
        <button class="loginButton" type="submit">LOGIN</button>
    </form>
    {{#errors}}
        <p class="loginReminder">{{msg}}</p>
    {{/errors}}
    {{/user}}
    {{#user}}
        <h4 class="loggedIn">You are logged in as: {{username}}</h4>
    {{/user}}
    {{^difficulty}}
        <form  class="playForm" action="/newgame/difficulty" method="post">
            <button class="playButton" type="submit">PLAY</button>
        </form>
    {{/difficulty}}
    {{#difficulty}}
        <form class="diffForm" action="/newgame/setup" method="post">
            <input class="diffButton" type="submit" name="difficulty" value="easy">
            <input class="diffButton" type="submit" name="difficulty" value="normal">
            <input class="diffButton" type="submit" name="difficulty" value="hard">
        </form>
    {{/difficulty}}
  </div>
</body>

</html>