<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mystery Word - Game</title>
</head>

<body>
    <h1>GAME PAGE</h1>
    {{#user}} {{#game}}
    <h2>User: {{username}}</h2>
    {{#guessCount}}
    <h3>Guesses Remaining: {{guessCount}}</h3>
    <form action="/guess" method="post">
        <label for="guess">Your Guess: </label>
        <input type="text" name="guess">
    </form>
    {{/guessCount}} {{^guessCount}}
    <h3>You're out of guesses...</h3>
    <h3>The myster word was: {{word}}</h3>
    <h3>Would you like to play again?</h3>
    <form action="/newgame" method="post">
        <button type="submit">Yes</button>
    </form>
    <form action="/" method="get">
        <button type="submit">No</button>
    </form>
    {{/guessCount}} {{/game}} {{/user}}
</body>

</html>