.display {
  margin: 5vh 5vw;
}

h2 {
  margin: 0 3rem;
}

.wordDisplay {
  font-size: 2rem;
  margin: 6rem 0 4rem 0;
  letter-spacing: -.25rem;
}

.guessForm {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guessInput {
  font-size: 2rem;
  width: 1em;
  margin: 0 1rem;
}

.errors {
  text-align: center;
  color: red;
  font-style: italic;
}

.winMsg,
.loseMsg,
.playAgain,
.yesButton,
.noButton {
  font-size: 1.5rem;
}

.loseMsg {
  color: red;
}

.yesAndNo {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.yesForm,
.noForm {
  margin: 0 2rem;
}

.yesButton,
.noButton {
  border-radius: 1rem;
}

@media (min-width: 505px) {
  .wordDisplay {
    font-size: 3.5rem;
  }
}

@media (min-width: 756px) {
  .wordDisplay {
    font-size: 5rem;
  }
}
