<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mystery Word - Home</title>
</head>

<body>
    <h1>MYSTERY WORD</h1>
    {{^user}}
    <h3>Please login to play:</h3>
    <form action="/users" method="post">
        <input type="text" name="username" placeholder="Enter your name">
        <button type="submit">Login</button>
    </form>
    {{/user}} {{#user}}
    <h4>You are logged in as: {{username}}</h4>
    {{/user}} {{^difficulty}}
    <form action="/difficulty" method="post">
        <button type="submit">PLAY</button>
    </form>
    {{/difficulty}} {{#difficulty}}
    <form action="/newgame" method="post">
        <input type="submit" name="difficulty" value="easy">
        <input type="submit" name="difficulty" value="normal">
        <input type="submit" name="difficulty" value="hard">
    </form>
    {{/difficulty}}
</body>

</html>