<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mystery Word - Home</title>
</head>

<body>
    <h1>ROOT PAGE</h1>
    {{}}
    <form action="/users" method="post">
        <input type="text" name="username" placeholder="Enter your name">
        <button type="submit">PLAY</button>
    </form>
    {{}}
</body>

</html>