body {
  display: flex;
  justify-content: center;
  font-family: "Graduate", cursive;
}

button,
input {
  font-family: "Graduate", cursive;
}

button:focus,
input:focus {
  outline: none;
}

.display {
  margin: 25vh 25vw;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

.loginForm {
  margin: 1rem;
}

.loginInput,
.loginButton {
  margin: 0 0.5rem;
  font-size: 0.75rem;
}

.loginButton {
  border-radius: 0.5rem;
}

.loginReminder {
  color: red;
  font-style: italic;
}

.loggedIn {
  font-size: 1rem;
}

.playForm {
  margin: 6rem;
}

.diffForm {
  margin: 6rem 0 0 0;
}

.playButton {
  font-size: 1.5rem;
  border-radius: 1rem;
}

.diffButton {
  font-size: 1rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

@media (min-width: 756px) {
  h1,
  .playButton {
    font-size: 2.9rem;
  }
  .loginInput,
  .loginButton {
    font-size: 1.2rem;
  }
  .loggedIn {
    font-size: 1.5rem;
  }
  .diffButton {
    font-size: 2rem;
  }
}
